:root {
  --jt-bg: #fff;
  --jt-bg-opacity: rgba(255,255,255,0.9);
  --jt-bg-off: #F5F4F0;

  --jt-color-text: #262626;
  --jt-color-text-light-1: #C2C2C2;
  --jt-color-text-light-2: #EFEFEF;

  --jt-color-accent: #109782;
  --jt-color-accent-light-1: #77C0B4;
  --jt-color-accent-dark-1: #244842;
  --jt-color-accent-dark-2: #215E54;
}
