@import '~normalize.css';

@import 'vars/colours';
@import 'vars/type';
@import 'vars/sizes';

@import 'utils/fonts';

@import 'base';

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--jt-font-family);

  color: var(--jt-color-text);

  transition: {
    duration: 0.3s;
    property: background-color;
  }

  background-color: var(--jt-bg);
}

.page-professional {
  --jt-bg: #111;
  --jt-bg-opacity: rgba(17, 17, 17,0.9);

  --jt-color-text: #EFEFEF;
  --jt-color-text-light-1: #616161;
  --jt-color-text-light-2: #262626;

  // --jt-color-accent: #e6493e;
  // --jt-color-accent-light-1: #fc6b61;
  --jt-color-accent-dark-1: #155c51;
  // --jt-color-accent-dark-2: #92241c;
}

a {
  color: var(--jt-color-accent);

  transition: {
    duration: 0.3s;
    property: color;
    timing-function: ease;
  }

  &:hover,
  &:focus {
    color: var(--jt-color-accent-light-1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p {
  font-size: var(--jt-type-size-2);
  line-height: var(--jt-type-lh-2);

  margin: 0 0 var(--jt-type-lh-2);

  &.large {
    font-size: var(--jt-type-size-3);
    line-height: var(--jt-type-lh-3);

    margin: 0 0 var(--jt-type-lh-3);
  }
}

.large-container p {
  font-size: var(--jt-type-size-3);
  line-height: var(--jt-type-lh-3);

  margin: 0 0 var(--jt-type-lh-3);
}

.page {
  @include container;
  @include page;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.collapse + footer {
  margin-top: 0;
}

.little-dev-joke {
  color: var(--jt-color-text-light-1);
}

.highlight {
  color: var(--jt-color-accent);
}


