@import '../../../styles/base';

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.item {
  margin-bottom: calc(var(--jt-padding) * 1.5);
}

.text {
  display: block;

  font-size: var(--jt-type-size-3);
  line-height: var(--jt-type-lh-3);
}

.label {
  color: var(--jt-color-text-light-1);

  flex-basis: 25%;

  transition: inherit;
}

.desc {
  width: 100%;

  text-decoration: none;

  &:hover .label {
    color: var(--jt-color-text-light-2);

    .vertical & {
      color: var(--jt-color-text-light-1);
    }
  }

  @include breakpoint(mobile) {
    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-column-gap: var(--jt-padding);

    .vertical & {
      grid-template-columns: 1fr;
    }
  }
}

.noLink {
  cursor: default;
}


