@font-face {
  font-family: 'GT Walsheim';
  src: url('fonts/GT-Walsheim-Regular.woff2') format('woff2'),
       url('fonts/GT-Walsheim-Regular.woff') format('woff'),
       url('fonts/GT-Walsheim-Regular.eot') format('eot'),
       url('fonts/GT-Walsheim-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('fonts/GT-Walsheim-Regular-Oblique.woff2') format('woff2'),
       url('fonts/GT-Walsheim-Regular-Oblique.woff') format('woff'),
       url('fonts/GT-Walsheim-Regular-Oblique.eot') format('eot'),
       url('fonts/GT-Walsheim-Regular-Oblique.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}
