@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem($size) {
  $remSize: strip-unit($size) / 16;
  @return #{$remSize}rem;
}

@mixin container() {
  width: calc(100% - calc(var(--jt-padding) * 2));
  max-width: rem(800px);

  margin: 0 auto;

  @include breakpoint(tablet) {
    width: calc(100% - calc(var(--jt-padding) * 8));
  }
}

@mixin page() {
  padding-top: var(--jt-header-space);
}

@mixin breakpoint($point) {
  @if $point == 'tablet' {
    @media screen and (min-width: rem(768px)) {
      @content;
    }
  }
  @if $point == 'desktop' {
    @media screen and (min-width: rem(950px)) {
      @content;
    }
  }
}
